/* font-family: 'Caveat', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  color: rgb(176, 13, 13);
  font-size: 2.2rem;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 0.8vh;
  font-family: "Permanent Marker", "Caveat", "Lobster";
}

.container {
  background-color: darkgray;
  background-image: url(./images/sheet.png);
  height: 100vh;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  border: 3px solid red;*/
}

.input-section {
  /* border: 2px solid blue; */
  height: 10vh;
}

#input {
  height: 2rem;
  width: 20rem;
  font-size: 1.2rem;
  font-family: "Gloria Hallelujah";
  border-radius: 0.5rem;

  border: 2px solid rgba(166, 93, 45, 0.721);
}

.add {
  color: white;
  width: 5rem;
  height: 2.2rem;
  font-size: 1.2rem;
  background-color: rgb(176, 13, 13);
  border-radius: 0.5rem;
  margin-top: 0.3rem;
  font-family: "Permanent Marker";
}

/* .to-do-section {
  border: 2px solid greenyellow;
  height: 60vh;
} */

#list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 60vh;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  font-family: "Gloria Hallelujah";
  font-size: 1.2rem;
  background-color: antiquewhite;
  border-bottom: 2px solid rgba(166, 93, 45, 0.721);
}
.checkbox {
  margin-left: 0.5rem;
}

.to-do {
  max-width: 20rem;
}

.fa-solid {
  margin-right: 0.5rem;
}

.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 35%;
  font-family: "Permanent Marker";
  font-size: 1.3rem;
  position: fixed;
  bottom: 2rem;
  height: 5vh;
}
.counter p {
  min-width: 15rem;
  margin-bottom: 1rem;
}
